<div class=" a-footer">
    <div class="pull-left col-xs-6">
        <div class="row">
            <p class="p-small">
                <a class="mar-right5 dark-color p-small" href="https://www.mycards.com/terms.html" target="_blank">Terms & conditions</a> • <a class="mar-right5 dark-color p-small" href="https://www.mycards.com/privacy.html" target="_blank"> &nbsp; Privacy policy</a>
            </p>
        </div>
    </div>
    <div class="pull-right col-xs-6">
        <div class="row">
            <p class="text-right dark-color p-small mar-bot0">© <span class="medium">myCards™</span> All Rights Reserved. @System.Configuration.ConfigurationManager.AppSettings["RightsYear"]</p>
        </div>
    </div>
</div>
