@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MasterLayoutAdmin.cshtml";
}

        <h4 class="text-danger">An error occurred while processing your request....</h4>
        <h6 class="text-danger">Error: @Model.Exception.Message</h6>
        <div class="col-xs-12 row">
            <p class="mar-top0 book f-p-medium">
                Go Back To <a href="@Url.Action("Index", "Home")" class="bold color-blue">Home Page</a>
            </p>
        </div>
        

    

