
@{
    ViewBag.Title = "ChangePasswordThanks";
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayoutSuperAdmin.cshtml";
}

<div>
    <p>@MyCard.Web.Resources.CaptionsAll.ChangePasswordThanksMessage</p>
</div>

<div>
    <a href="@Url.Action("Login", "Default") class="txt-bold color-blue"">Login</a>
</div>

