/* ==== Google font ==== */
/*@import url('font-awesome.css');

@import url('Gotham');
@import 'Gotham';

@font-face {
  font-family: 'Gotham';  
   font-style: normal;
 }
 */


@font-face {
    font-family: gotham-medium;
    src: url(../fonts/Gotham/Gotham-Medium.otf);
}




@font-face {
    font-family: gotham-light;
    src: url(../fonts/Gotham/Gotham-Light.otf);
}

@font-face {
    font-family: gotham-bold;
    src: url(../fonts/Gotham/Gotham-Bold.otf);
}

@font-face {
    font-family: gotham-book;
    src: url(../fonts/Gotham/Gotham-Book.otf);
}

@font-face {
    font-family: gotham-black;
    src: url(../fonts/Gotham/Gotham-Black.otf);
}


@font-face {
    font-family: gotham-lightitalic;
    src: url(../fonts/Gotham/Gotham-LightItalic.otf);
}



.l-panel {
    min-height: 100%;
    position: fixed;
    display: block;
    background: #148ac8; /* Old browsers */
    background: -moz-linear-gradient(top, #148ac8 0%, #2d9fd9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #148ac8 0%,#2d9fd9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #148ac8 0%,#2d9fd9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#148ac8', endColorstr='#2d9fd9',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: -1px 0px 5px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 0px 5px 2px rgba(0,0,0,0.6);
    box-shadow: -1px 0px 5px 2px rgba(0,0,0,0.6);
}


.nav > li > a:hover, .nav > li > a.nav-item:focus a.nav-item:active, a.nav-item:hover {
    text-decoration: none;
    font-weight: bold;
    color: #2ea0da;
    background-color: none !important;
    border-bottom: 3px solid #2ea0da;
}

.nav > li:nth-child(1) > a.active {
    text-decoration: none;
    font-weight: bold;
    color: #2ea0da;
    background-color: none !important;
    border-bottom: 3px solid #2ea0da;
}

.nav > li:nth-child(2) > a.active {
    text-decoration: none;
    font-weight: bold;
    color: #2ea0da;
    background-color: none !important;
    border-bottom: 3px solid #2ea0da;
}

.signin-form input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
}

.signin-form select.s-input {
    border-radius: 4px;
    border: 1px solid #cccccc;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
}

.signin-form label {
    color: #595959;
    margin-bottom: 20px;
}

.signin-form .box {
    width: auto !important;
    margin-right: 10px;
}


.line-p {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.file {
    font-style: italic;
    font-weight: 600;
    color: #cccccc;
    font-size: 16px;
}

/*.select-file{ padding:30px 1px; background:url(../img/admin/upload.png) no-repeat;  }*/
/*.upload{ position:absolute; top:0; left:0; }*/

.large-submit {
    font-weight: 300;
    color: #FFFFFF;
    padding: 20px 73px;
    border-radius: 4px;
    font-weight: 400;
    border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
    background: #2aa2dd; /* Old browsers */
    background: -moz-linear-gradient(top, #2aa2dd 0%, #37b3f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2aa2dd 0%,#37b3f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2aa2dd 0%,#37b3f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa2dd', endColorstr='#37b3f0',GradientType=0 ); /* IE6-9 */
}

    .large-submit:hover {
        font-weight: 300;
        color: #FFFFFF;
        padding: 20px 73px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #37b3f0; /* Old browsers */
        background: -moz-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #37b3f0 0%,#2aa2dd 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #37b3f0 0%,#2aa2dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b3f0', endColorstr='#2aa2dd',GradientType=0 ); /* IE6-9 */
    }


.large-upload {
    font-weight: 300;
    color: #FFFFFF;
    padding: 20px 58px;
    border-radius: 4px;
    font-weight: 400;
    border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
    background: #bbbbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #bbbbbb 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bbbbbb 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bbbbbb 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

    .large-upload:hover {
        font-weight: 300;
        color: #FFFFFF;
        padding: 20px 58px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #cccccc; /* Old browsers */
        background: -moz-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #cccccc 0%, #bbbbbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
    }

.submit {
    color: #FFFFFF;
    border-radius: 2px;
    padding: 12px 35px;
    border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
    background: #2aa2dd; /* Old browsers */
    background: -moz-linear-gradient(top, #2aa2dd 0%, #37b3f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2aa2dd 0%,#37b3f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2aa2dd 0%,#37b3f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa2dd', endColorstr='#37b3f0',GradientType=0 ); /* IE6-9 */
}

    .submit:hover {
        color: #FFFFFF;
        border-radius: 2px;
        padding: 12px 35px;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #37b3f0; /* Old browsers */
        background: -moz-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #37b3f0 0%, #2aa2dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b3f0', endColorstr='#2aa2dd',GradientType=0 ); /* IE6-9 */
    }


.form {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

    .form input {
        margin-bottom: 0;
    }

    .form label {
        margin-bottom: 0;
    }

.a-footer {
    padding: 15px 0px;
    border-top: 1px solid #cccccc;
    background: #FFFFFF;
    position: fixed;
    bottom: -11px;
    width: 63%;
    font-size: 12px;
    color: #595959;
    right: 45px;
}

.profile-footer {
    padding: 15px 0;
    border-top: 1px solid #cccccc;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 78.9%;
    color: #595959;
    right: 35px;
}


.shadow {
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.2);
    border-radius: 6px;
}


.main-box {
    margin: 20px -4px 20px 3px;
    padding: 50px 20px 16px;
}

/*Popup*/
.product_view .modal-dialog {
    max-width: 750px;
    width: 100%;
}

.pre-cost {
    text-decoration: line-through;
    color: #a5a5a5;
}

.space-ten {
    padding: 10px 0;
}

.popup {
    padding: 40px 0;
    margin-bottom: 20px;
    display: block;
}




/*
  =========================================================
  admin Navbar
  =========================================================*/

.padding40 {
 padding:40px 0; 
}
.large-upload:hover, .large-upload:focus {
    color: #ebebeb;
}


.usd {
    padding: 0 3px 0 27px;
    border: none;
    margin: 15px 15px 0 0;
}



/*Login Signup Page*/
a:focus, a:hover, a {
    outline: none;
    text-decoration: none;
}

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.navbar-content > span {
    font-size: 12px;
    font-weight: 700;
}

#left-nav li {
    display: block;
}

#left-nav .left-li:hover {
    background: url(../img/admin/left-nav.png) no-repeat 0px 0px;
}

#left-nav .active {
    background: url(../img/admin/left-nav.png) no-repeat 0px 0px;
    padding-right: 0;
}

.navi a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
    opacity: 0.5;
    margin-left: 30px;
    margin-right: 30px;
}

    .navi a.one {
        border-bottom: 1px solid #0077b4;
        border-top: 1px solid #0077b4;
        color: #ffffff;
        display: block;
        font-size: 12px;
        font-weight: 500;
        padding: 16px 0px;
        text-decoration: none;
        opacity: 0.5;
    }

    .navi a.two {
        border-bottom: 1px solid #0077b4;
        border-top: none !important;
        color: #ffffff;
        display: block;
        font-size: 12px;
        font-weight: 500;
        padding: 16px 0px;
        text-decoration: none;
        opacity: 0.5;
    }

    .navi a.three {
        border-bottom: 1px solid #0077b4;
        border-top: none !important;
        color: #ffffff;
        display: block;
        font-size: 12px;
        font-weight: 500;
        padding: 16px 0px;
        text-decoration: none;
        opacity: 0.5;
    }

.navi .active a {
    background: none;
    opacity: 1;
}


.navi a:hover {
    background: none;
    display: block;
    opacity: 1;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0e1a35;
}


.hidden-xs {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard {
    padding: 0 20px;
}

    .user-dashboard h1 {
        color: #0e1a35;
        font-size: 30px;
        font-weight: 500;
        margin: 0;
        padding: 21px 0;
    }

.sales {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
}

    .sales .btn-group.open .dropdown-toggle, .btn.active, .btn:active {
        box-shadow: none;
    }

    .sales .dropdown-menu > a {
        color: #0e1a35;
        display: inline-block;
        font-weight: 800;
        padding: 9px 0;
        text-align: center;
        width: 100%;
    }

.error {
    padding-left: 18px;
    background: url(../img/admin/cross.png) left center no-repeat;
}


@media (max-width: 2560px) {

    .bb-title {
        border-top: 1px solid #cccccc;
        padding: 8px 0;
        margin-top: 20px;
    }

    .title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .chart {
        height: 321px;
        display: block;
    }

    .large-upload {
        font-weight: 300;
        color: #FFFFFF;
        padding: 20px 36px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #bbbbbb; /* Old browsers */
        background: -moz-linear-gradient(top, #bbbbbb 0%, #cccccc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #bbbbbb 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #bbbbbb 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    }

        .large-upload:hover {
            font-weight: 300;
            color: #FFFFFF;
            padding: 20px 36px;
            border-radius: 4px;
            font-weight: 400;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #cccccc; /* Old browsers */
            background: -moz-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #cccccc 0%, #bbbbbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
        }

    .large-submit {
        font-weight: 300;
        color: #FFFFFF;
        padding: 20px 73px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #2aa2dd; /* Old browsers */
        background: -moz-linear-gradient(top, #2aa2dd 0%, #37b3f0 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #2aa2dd 0%,#37b3f0 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #2aa2dd 0%,#37b3f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa2dd', endColorstr='#37b3f0',GradientType=0 ); /* IE6-9 */
    }

        .large-submit:hover {
            font-weight: 300;
            color: #FFFFFF;
            padding: 20px 73px;
            border-radius: 4px;
            font-weight: 400;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #37b3f0; /* Old browsers */
            background: -moz-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #37b3f0 0%,#2aa2dd 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #37b3f0 0%,#2aa2dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b3f0', endColorstr='#2aa2dd',GradientType=0 ); /* IE6-9 */
        }


    .p-insert {
        margin: 15px 0;
    }

    .bb {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 25px;
    }

    .h3-well {
        font-size: 36px;
    }

    .h2-card {
        font-size: 48px;
    }

    .l-input {
        font-size: 27px;
    }

    .a-footer {
        padding: 15px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 62.2%;
        color: #595959;
        right: 44px;
    }

    .modal {
        top: 40%
    }

    .profile-footer {
        padding: 15px 0;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 81%;
        color: #595959;
        right: 28px;
    }

    .mycard-top {
        margin-top: 16px;
    }

    .signout-top {
        margin-top: 9px;
    }

    .margin-box {
        margin-bottom: 284px;
    }


    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .margin-box {
            margin-bottom: 287px !important;
        }
    }
    /*/ firefox only /*/
    @-moz-document url-prefix() {
        .margin-box {
            margin-bottom: 284px !important;
        }
    }

    .register-top {
        margin-top: 100px;
    }

    .one, .two, .three {
        font-size: 20px;
    }

    .main-box {
        margin: 25px -4px 20px 3px;
        padding: 60px 40px 60px;
    }

    .calculate {
        font-size: 16px;
    }

    .well-btm {
        margin-bottom: 140px;
    }

    .h4-well24 {
        font-size: 24px;
    }

    .h4-well22 {
        font-size: 22px;
    }

    .p-small {
        font-size: 14px;
    }

    .f-x-small {
        font-size: 13px;
    }

    .mini-box {
        padding: 20px 20px 0px;
    }

    .mini-box1 {
        padding: 20px 20px 20px;
    }

    .m-top {
        margin-top: 50px;
    }

    .check-m-top {
        margin-top: 22px;
    }

    .squaredChk {
        width: 25px;
        margin: 20px auto;
        position: relative;
        margin-top: 2px;
    }

        .squaredChk label {
            cursor: pointer;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            border-radius: 4px;
            background: #ffffff;
            border: 1px solid #cccccc;
        }

            .squaredChk label:after {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                opacity: 0;
                content: '';
                position: absolute;
                border: 1px solid #cccccc;
                border-radius: 3px;
                width: 14px;
                height: 14px;
                background: #2ea0da;
                top: 2px;
                left: 2px;
                padding: -10px;
                transition: visibility 0s 1s, opacity 1s linear;
            }




    .edit {
        color: #FFFFFF;
        border-radius: 2px;
        padding: 12px 35px;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #939393; /* Old browsers */
        background: -moz-linear-gradient(top, #939393 0%, #ababab 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #939393 0%,#ababab 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #939393 0%,#ababab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
    }

        .edit:hover {
            color: #FFFFFF;
            border-radius: 2px;
            padding: 12px 35px;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #ababab; /* Old browsers */
            background: -moz-linear-gradient(top, #ababab 0%, #939393 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ababab 0%, #939393 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ababab 0%, #939393 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
        }
}

@media (max-width: 1920px) {


    .bb-title {
        border-top: 1px solid #cccccc;
        padding: 6px 0;
        margin-top: 17px;
    }

    .title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .chart {
        height: 203px;
        display: block;
    }
    
    .large-upload {
        font-weight: 300;
        color: #FFFFFF;
        padding: 20px 36px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #bbbbbb; /* Old browsers */
        background: -moz-linear-gradient(top, #bbbbbb 0%, #cccccc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #bbbbbb 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #bbbbbb 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    }

        .large-upload:hover {
            font-weight: 300;
            color: #FFFFFF;
            padding: 20px 36px;
            border-radius: 4px;
            font-weight: 400;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #cccccc; /* Old browsers */
            background: -moz-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #cccccc 0%, #bbbbbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
        }

    .large-submit {
        font-weight: 300;
        color: #FFFFFF;
        padding: 20px 73px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #2aa2dd; /* Old browsers */
        background: -moz-linear-gradient(top, #2aa2dd 0%, #37b3f0 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #2aa2dd 0%,#37b3f0 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #2aa2dd 0%,#37b3f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa2dd', endColorstr='#37b3f0',GradientType=0 ); /* IE6-9 */
    }

        .large-submit:hover {
            font-weight: 300;
            color: #FFFFFF;
            padding: 20px 73px;
            border-radius: 4px;
            font-weight: 400;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #37b3f0; /* Old browsers */
            background: -moz-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #37b3f0 0%,#2aa2dd 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #37b3f0 0%,#2aa2dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b3f0', endColorstr='#2aa2dd',GradientType=0 ); /* IE6-9 */
        }

    .p-insert {
        margin: 15px 0;
    }

    .bb {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 25px;
    }

    .h3-well {
        font-size: 36px;
    }

    .h2-card {
        font-size: 48px;
    }

    .l-input {
        font-size: 27px;
    }

    .sa-footer {
        padding: 8px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 70.5%;
        font-size: 12px;
        color: #595959;
        right: 44px;
    }

    .a-footer {
        padding: 15px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 62.2%;
        color: #595959;
        right: 44px;
    }

    .mar-top15 {
        margin-top: 17px;
    }

    .modal {
        top: 40%;
    }

    .profile-footer {
        padding: 15px 0;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 80.5%;
        color: #595959;
        right: 28px;
    }

    .mycard-top {
        margin-top: 16px;
    }

    .signout-top {
        margin-top: 9px;
    }

    .margin-box {
        margin-bottom: 100px;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .margin-box {
            margin-bottom: 100px !important;
        }
    }
    /*/ firefox only /*/
    @-moz-document url-prefix() {
        .margin-box {
            margin-bottom: 98px !important;
        }
    }

    .register-top {
        margin-top: 100px;
    }

    .one, .two, .three {
        font-size: 20px;
    }

    .main-box {
        margin: 25px -4px 20px 3px;
        padding: 60px 40px 60px;
    }

    .calculate {
        font-size: 16px;
    }

    .well-btm {
        margin-bottom: 75px;
    }

    .h4-well24 {
        font-size: 24px;
    }

    .h4-well22 {
        font-size: 22px;
    }

    .f-x-small {
        font-size: 13px;
    }

    .p-small {
        font-size: 14px;
    }

    .mini-box {
        padding: 20px 20px 0px;
    }

    .mini-box1 {
        padding: 20px 20px 20px;
    }

    .m-top {
        margin-top: 50px;
    }
    .m-top2 {
        margin-top:-35px;
    }

    .check-m-top {
        margin-top: 22px;
    }

    .squaredChk {
        width: 25px;
        margin: 20px auto;
        position: relative;
        margin-top: 2px;
    }

        .squaredChk label.popup-check {
            cursor: pointer;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0px;
            border-radius: 4px;
            background: #7ebc42;
            border: 1px solid #ffffff;
        }

            .squaredChk label.popup-check:after {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                opacity: 0;
                content: '';
                position: absolute;
                border: 1px solid #ffffff;
                border-radius: 3px;
                width: 14px;
                height: 14px;
                background: #ffffff;
                top: 2px;
                left: 2px;
                padding: -10px;
                transition: visibility 0s 1s, opacity 1s linear;
            }

        .squaredChk label {
            cursor: pointer;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            border-radius: 4px;
            background: #ffffff;
            border: 1px solid #cccccc;
        }

            .squaredChk label:after {
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                opacity: 0;
                content: '';
                position: absolute;
                border: 1px solid #cccccc;
                border-radius: 3px;
                width: 14px;
                height: 14px;
                background: #2ea0da;
                top: 2px;
                left: 2px;
                padding: -10px;
                transition: visibility 0s 1s, opacity 1s linear;
            }


    .edit {
        color: #FFFFFF;
        border-radius: 2px;
        padding: 12px 35px;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #939393; /* Old browsers */
        background: -moz-linear-gradient(top, #939393 0%, #ababab 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #939393 0%,#ababab 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #939393 0%,#ababab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
    }

        .edit:hover {
            color: #FFFFFF;
            border-radius: 2px;
            padding: 12px 35px;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #ababab; /* Old browsers */
            background: -moz-linear-gradient(top, #ababab 0%, #939393 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ababab 0%, #939393 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ababab 0%, #939393 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
        }
}

@media (max-width: 1680px) {
    .bb-title {
        border-top: 1px solid #cccccc;
        padding: 4px 0;
        margin-top: 13px;
    }

    .title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .chart {
        height: 182px;
        display: block;
    }



    .margin-box {
        margin-bottom: 40px !important;
    }

    /*	.margin-box {  margin-bottom: 47px;}*/
}

@media (max-width: 1650px) {


    .bb-title {
        border-top: 1px solid #cccccc;
        padding: 4px 0;
        margin-top: 13px;
    }

    .title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .chart {
        height: 180px;
        display: block;
    }

    .sa-footer {
        padding: 8px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 70%;
        font-size: 12px;
        color: #595959;
        right: 44px;
    }


    .profile-footer {
        padding: 8px 0;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 80%;
        color: #595959;
        right: 28px;
    }

    .modal {
        top: 40%
    }

    .mycard-top {
        margin-top: 15px;
    }

    .signout-top {
        margin-top: 10px;
    }

    .register-top {
        margin-top: 90px;
    }

    .one, .two, .three {
        font-size: 18px;
    }

    .p-small {
        font-size: 12px;
    }

    .mar-top15 {
        margin-top: 16px;
    }

    .main-box {
        margin: 25px -4px 20px 3px;
        padding: 60px 40px 16px;
    }

    .well-btm {
        margin-bottom: 75px;
    }

    .h4-well24 {
        font-size: 20px;
    }

    .h4-well22 {
        font-size: 18px;
    }

    .p-small {
        font-size: 14px;
    }

    .f-x-small {
        font-size: 11px;
    }

    .mini-box {
        padding: 20px 20px 0;
    }

    .mini-box1 {
        padding: 15px 20px 12px;
    }

    .margin-box {
        margin-bottom: 88px;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .margin-box {
            margin-bottom: 90px !important;
        }
    }
    /*/ firefox only /*/
    @-moz-document url-prefix() {
        .margin-box {
            margin-bottom: 85px !important;
        }
    }



    .large-upload {
        font-weight: 300;
        color: #FFFFFF;
        padding: 20px 40px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #bbbbbb; /* Old browsers */
        background: -moz-linear-gradient(top, #bbbbbb 0%, #cccccc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #bbbbbb 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #bbbbbb 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    }

        .large-upload:hover {
            font-weight: 300;
            color: #FFFFFF;
            padding: 20px 40px;
            border-radius: 4px;
            font-weight: 400;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #cccccc; /* Old browsers */
            background: -moz-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #cccccc 0%, #bbbbbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
        }

    .large-submit {
        font-weight: 300;
        color: #FFFFFF;
        padding: 20px 70px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #2aa2dd; /* Old browsers */
        background: -moz-linear-gradient(top, #2aa2dd 0%, #37b3f0 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #2aa2dd 0%,#37b3f0 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #2aa2dd 0%,#37b3f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa2dd', endColorstr='#37b3f0',GradientType=0 ); /* IE6-9 */
    }

        .large-submit:hover {
            font-weight: 300;
            color: #FFFFFF;
            padding: 20px 70px !important;
            border-radius: 4px;
            font-weight: 400;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #37b3f0; /* Old browsers */
            background: -moz-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #37b3f0 0%,#2aa2dd 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #37b3f0 0%,#2aa2dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b3f0', endColorstr='#2aa2dd',GradientType=0 ); /* IE6-9 */
        }


    .edit {
        color: #FFFFFF;
        border-radius: 2px;
        padding: 10px 32px;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #939393; /* Old browsers */
        background: -moz-linear-gradient(top, #939393 0%, #ababab 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #939393 0%,#ababab 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #939393 0%,#ababab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
    }

        .edit:hover {
            color: #FFFFFF;
            border-radius: 2px;
            padding: 10px 32px;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #ababab; /* Old browsers */
            background: -moz-linear-gradient(top, #ababab 0%, #939393 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ababab 0%, #939393 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ababab 0%, #939393 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
        }
}

@media (max-width: 1600px) {
    .margin-box {
        margin-bottom: 73px;
    }
}


@media (max-width: 1440px) {
    .error {
        padding-left: 18px;
        background: url(../img/admin/cross.png) left center no-repeat;
    }

    .bb-title {
        border-top: 1px solid #cccccc;
        padding: 4px 0;
        margin-top: 13px;
    }

    .title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .chart {
        height: 155px;
        display: block;
    }

    .large-upload {
        font-weight: 300;
        color: #FFFFFF;
        padding: 15px 30px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #bbbbbb; /* Old browsers */
        background: -moz-linear-gradient(top, #bbbbbb 0%, #cccccc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #bbbbbb 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #bbbbbb 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    }

        .large-upload:hover {
            font-weight: 300;
            color: #FFFFFF;
            padding: 15px 30px;
            border-radius: 4px;
            font-weight: 400;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #cccccc; /* Old browsers */
            background: -moz-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #cccccc 0%, #bbbbbb 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #cccccc 0%, #bbbbbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
        }

    .large-submit {
        font-weight: 300;
        color: #FFFFFF;
        padding: 15px 55px;
        border-radius: 4px;
        font-weight: 400;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #2aa2dd; /* Old browsers */
        background: -moz-linear-gradient(top, #2aa2dd 0%, #37b3f0 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #2aa2dd 0%,#37b3f0 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #2aa2dd 0%,#37b3f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa2dd', endColorstr='#37b3f0',GradientType=0 ); /* IE6-9 */
    }

        .large-submit:hover {
            font-weight: 300;
            color: #FFFFFF;
            padding: 15px 55px !important;
            border-radius: 4px;
            font-weight: 400;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #37b3f0; /* Old browsers */
            background: -moz-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #37b3f0 0%,#2aa2dd 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #37b3f0 0%,#2aa2dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b3f0', endColorstr='#2aa2dd',GradientType=0 ); /* IE6-9 */
        }


    .bb {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 20px;
    }

    .h3-well {
        font-size: 26px;
    }

    .h2-card {
        font-size: 34px;
    }

    .l-input {
        font-size: 24px;
    }

    .sa-footer {
        padding: 8px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 68.65%;
        font-size: 12px;
        color: #595959;
        right: 44px;
    }

    .a-footer {
        padding: 8px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 60.7%;
        font-size: 12px;
        color: #595959;
        right: 44px;
    }

    .mar-top15 {
        margin-top: 15px;
    }

    .profile-footer {
        padding: 8px 0;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 79%;
        color: #595959;
        right: 28px;
    }

    .modal {
        top: 30%
    }

    .submit {
        color: #FFFFFF;
        border-radius: 2px;
        padding: 8px 30px;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #2aa2dd; /* Old browsers */
        background: -moz-linear-gradient(top, #2aa2dd 0%, #37b3f0 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #2aa2dd 0%,#37b3f0 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #2aa2dd 0%,#37b3f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa2dd', endColorstr='#37b3f0',GradientType=0 ); /* IE6-9 */
    }

        .submit:hover {
            color: #FFFFFF;
            border-radius: 2px;
            padding: 8px 30px;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #37b3f0; /* Old browsers */
            background: -moz-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #37b3f0 0%, #2aa2dd 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #37b3f0 0%, #2aa2dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37b3f0', endColorstr='#2aa2dd',GradientType=0 ); /* IE6-9 */
        }

    .edit {
        color: #FFFFFF;
        border-radius: 2px;
        padding: 8px 30px;
        border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
        background: #939393; /* Old browsers */
        background: -moz-linear-gradient(top, #939393 0%, #ababab 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #939393 0%,#ababab 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #939393 0%,#ababab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#ababab',GradientType=0 ); /* IE6-9 */
    }

        .edit:hover {
            color: #FFFFFF;
            border-radius: 2px;
            padding: 8px 30px;
            border: none; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2aa2dd+0,37b3f0+100 */
            background: #ababab; /* Old browsers */
            background: -moz-linear-gradient(top, #ababab 0%, #939393 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ababab 0%, #939393 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ababab 0%, #939393 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ababab', endColorstr='#939393',GradientType=0 ); /* IE6-9 */
        }


    .check-m-top {
        margin-top: 18px;
    }

    .mycard-top {
        margin-top: 16px;
    }

    .signout-top {
        margin-top: 13px;
    }

    .register-top {
        margin-top: 60px;
    }

    .one, .two, .three {
        font-size: 18px;
    }

    .p-small {
        font-size: 10px;
    }

    .f-x-small {
        font-size: 10px;
    }

    .calculate {
        font-size: 13px;
    }

    .main-box {
        margin: 25px -4px 20px 3px;
        padding: 47px 40px 36px;
    }

    .well-btm {
        margin-bottom: 55px;
    }

    .h4-well24 {
        font-size: 16px;
    }

    .h4-well22 {
        font-size: 14px;
    }

    .mini-box {
        padding: 15px 20px 10px;
    }

    .mini-box1 {
        padding: 15px 20px 10px;
    }

    /*/ will be red only in google chrome /*/
    .margin-box {
        margin-bottom: 74px;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .margin-box {
            margin-bottom: 72px !important;
        }
    }
    /*/ firefox only /*/
    @-moz-document url-prefix() {
        .margin-box {
            margin-bottom: 74px !important;
        }
    }




    /*	.margin-box { margin-bottom: 72px;}*/

    .h2-light {
        font-size: 35px;
    }

    .mini-box1 .pull-right img {
        margin-top: 0;
    }

    .squaredChk label.popup-check {
        cursor: pointer;
        position: absolute;
        width: 14px;
        height: 14px;
        top: 3px;
        border-radius: 4px;
        background: #7ebc42;
        border: 1px solid #ffffff;
        left: 2px;
    }

        .squaredChk label.popup-check:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            border: 1px solid #ffffff;
            border-radius: 3px;
            width: 10px;
            height: 10px;
            background: #ffffff;
            top: 1px;
            left: 1px;
            padding: -10px;
            transition: visibility 0s 1s, opacity 1s linear;
        }

    .squaredChk label {
        cursor: pointer;
        position: absolute;
        width: 14px;
        height: 14px;
        top: 3px;
        border-radius: 4px;
        background: #ffffff;
        border: 1px solid #cccccc;
        left: 2px;
    }

    .squaredChk {
        width: 18px;
        margin: 20px auto;
        position: relative;
        margin-top: 2px;
    }

        .squaredChk label:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            border: 1px solid #cccccc;
            border-radius: 3px;
            width: 10px;
            height: 10px;
            background: #2ea0da;
            top: 1px;
            left: 1px;
            padding: -10px;
            transition: visibility 0s 1s, opacity 1s linear;
        }
}

@media (max-width: 1366px) {

    .bb-title {
        border-top: 1px solid #cccccc;
        padding: 4px 0;
        margin-top: 13px;
    }

    .title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .chart {
        height: 135px;
        display: block;
    }

    .margin-box {
        margin-bottom: 40px;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .margin-box {
            margin-bottom: 40px !important;
        }
    }
    /*/ firefox only /*/
    @-moz-document url-prefix() {
        .margin-box {
            margin-bottom: 42px !important;
        }
    }
}


@media (max-width: 1350px) {
    .a-footer {
        padding: 15px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 60.2%;
        font-size: 12px;
        color: #595959;
        right: 44px;
    }

    .one, .two, .three {
        font-size: 17px;
    }

    .p-small {
        font-size: 11px;
    }

    .margin-box {
        margin-bottom: 20px !important;
    }

    .main-box {
        margin: 25px -4px 20px 3px;
        padding: 60px 40px 16px;
    }

    .well-btm {
        margin-bottom: 75px;
    }

    .h4-well24 {
        font-size: 20px;
    }

    .h4-well22 {
        font-size: 18px;
    }


    .mini-box {
        padding: 20px 20px 0;
    }

    .mini-box1 {
        padding: 20px 20px 20px;
    }
}

@media (max-width: 1280px) {
    .well-btm {
        margin-bottom: 32px;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .well-btm {
            margin-bottom: 32px !important;
        }
    }
    /*/ firefox only /*/
    @-moz-document url-prefix() {
        .well-btm {
            margin-bottom: 30px !important;
        }
    }
}



@media (max-width: 1200px) {
    .a-footer {
        padding: 15px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 62.2%;
        font-size: 12px;
        color: #595959;
        right: 44px;
    }

    .one, .two, .three {
        font-size: 17px;
    }

    .p-small {
        font-size: 10px;
    }

    .main-box {
        margin: 25px -4px 20px 3px;
        padding: 60px 40px 16px;
    }

    .well-btm {
        margin-bottom: 75px;
    }

    .h4-well24 {
        font-size: 18px;
    }

    .h4-well22 {
        font-size: 16px;
    }

    .mini-box {
        padding: 15px;
    }
}

@media (max-width: 1024px) {
    .a-footer {
        padding: 15px 0px;
        border-top: 1px solid #cccccc;
        background: #FFFFFF;
        position: fixed;
        bottom: -4px;
        width: 62%;
        font-size: 12px;
        color: #595959;
        right: 44px;
    }
}

@media only screen and (max-device-width: 767px) {
    #navigation .navi a {
        font-size: 14px;
        padding: 20px;
        text-align: center;
    }

    #navigation .navi i {
        margin-right: 0px;
    }

    #navigation .navi a:hover,
    #navigation .navi .active a {
        background: #122143 none repeat scroll 0 0;
        border-left: none;
        display: block;
        padding-left: 20px;
    }
}










.squaredChk label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    transition: visibility 0s .5s, opacity .5s linear;
}

.squaredChk input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}





.squaredChk label.popup-check:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
    transition: visibility 0s .5s, opacity .5s linear;
}

.squaredChk input[type=checkbox]:checked + label.popup-check:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/*-------------------------Radio Button----------------------------*/

.reg bdo {
    float: left;
    margin-bottom: 10px;
    position: relative;
    width: 50%;
}

    .reg bdo input[type="radio"] {
        cursor: pointer;
        opacity: 0;
        position: relative;
        z-index: 999996;
    }

    .reg bdo span {
        border: 1px solid #cccccc;
        border-radius: 100%;
        /* background: rgba(0, 0, 0, 0) url("../images/radio_btn.png") no-repeat scroll center bottom;*/
        cursor: pointer;
        left: -2px;
        padding: 8px;
        position: absolute;
        top: 2px;
        z-index: 0;
    }

        .reg bdo span:hover {
            border: 1px solid #2ea0da;
        }

    .reg bdo input[type="radio"]:checked + span::after {
        background: #2ea0da none repeat scroll 0 0;
        border-radius: 100%;
        bottom: 0;
        content: " ";
        height: 10px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
    }

=============css=================