
@{
    ViewBag.Title = "ChangePasswordThanks";
    Layout = "~/Views/Shared/_MasterLayoutAdmin.cshtml";
}

<div  class=" col-xs-8">
    <p>@MyCard.Web.Resources.CaptionsAll.ChangePasswordThanksMessage</p>
</div>

<div>
    <a href="@Url.Action("Login", "CompanyDashboard")" class="txt-bold color-blue">@MyCard.Web.Resources.CaptionsAll.LoginButton</a>
</div>


