
@{
    ViewBag.Title = @MyCard.Web.Resources.CaptionsAll.CreatePasswordThanksTitle;
    Layout = "~/Views/Shared/_MasterLayoutAdmin.cshtml";
}
<div class=" col-xs-8">
    <p>@MyCard.Web.Resources.CaptionsAll.CreatePasswordExitMessage</p>
</div>

<div class=" col-xs-8">
    <a href="@Url.Action("Login", "CompanyDashboard")">Login</a>
</div>
