@{
    ViewBag.Title = @MyCard.Web.Resources.CaptionsAll.CreatePasswordThanksTitle;
    Layout = "~/Views/Shared/_MasterLayoutAdmin.cshtml";
}
<div class=" col-xs-8">
    <p>You have created your password, you can <a href="@Url.Action("Login", "CompanyDashboard")" class="txt-bold color-blue">login</a> to your account.</p>
</div>


@*<div class=" col-xs-8">
    <a href="@Url.Action("Login", "Registration")" class="txt-bold color-blue">Login</a>
</div>*@
