
@{
    ViewBag.Title = "ResetPasswordExpired";
    Layout = "~/Views/Shared/_MasterLayoutAdmin.cshtml";
}

<div>
    <p>@MyCard.Web.Resources.CaptionsAll.ResetPasswordExpiredMessage</p>
</div>

<div>
    <a href="@Url.Action("Login", "Default")" class="txt-bold color-blue">@MyCard.Web.Resources.CaptionsAll.LoginButton</a>
</div>

