@{
    ViewBag.Title = @MyCard.Web.Resources.CaptionsAll.CreatePasswordThanksTitle;
    Layout = "~/Views/Shared/_MasterLayoutAdmin.cshtml";
}
<div div class=" col-xs-12">
    <div>
        <p>@MyCard.Web.Resources.CaptionsAll.ResetPasswordThanksMessage</p>
    </div>

    <div>
        <a href="@Url.Action("Login", "CompanyDashboard")" class="txt-bold color-blue">Login</a>
    </div>
</div>
